@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can Navigate Through the website and place orders , add items, see your orders and use our <i class="orange">GREAT</i> restaurant solution once you create your<a class="bold" asp-area="Identity" asp-page="/Account/Register">Account</a> with us</p>

</div>
